
@{
    ViewBag.Title = "Register";
}

@*<h2>Register</h2>*@

@model CurierProject.Models.RegisterViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="offset-md-5 col-md-2 pt-5">
    @using (Html.BeginForm("RegisterNewUser", "Account"))
    {
        @Html.AntiForgeryToken()

        <div class="input-group mb-3">
            <span class="input-group-text">@Html.LabelFor(m => m.FirstName)</span>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.FirstName)

        <div class="input-group mb-3">
            <span class="input-group-text">@Html.LabelFor(m => m.LastName)</span>
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.LastName)

        <div class="input-group mb-3">
            <span class="input-group-text">@Html.LabelFor(m => m.Address)</span>
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.Address)

        <div class="input-group mb-3">
            <span class="input-group-text">@Html.LabelFor(m => m.Email)</span>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.Email)

        <div class="input-group mb-3">
            <span class="input-group-text">@Html.LabelFor(m => m.Phone)</span>
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.Phone)

        <div class="input-group mb-3">
            <span class="input-group-text">@Html.LabelFor(m => m.Password)</span>
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.Password)

        <div class="input-group mb-3">
            <span class="input-group-text">@Html.LabelFor(m => m.ConfirmPassword)</span>
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
        
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <div class="d-grid gap-2">
                    <input class="btn btn-outline-primary" type="submit" value="Register">
                    <a href="@Url.Action("Login", "Account")" class="btn btn-outline-secondary">Go back to login</a>
                </div>
            </div>
        </div>
    }
</div>